
body ,html {
background: #f8f5f2;
height: 100%;
}


.main-covid {
  background: #f8f5f2;
  height:calc(100% - 150px );
  overflow: auto;
  padding-top: 80px;
  font-family: "Times New Roman", Times, serif;

}

.earth {
  width: 100%;
  height: 90%;
}

.navbar {
  background: #f86600;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  height: 70px;
}

.my-covid {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  letter-spacing: 3px;
}
.my-covid:hover {
  color: #fff;
}

.my-covid img {
  margin-right: 10px;
}

.nav-link{
  position: relative;
  padding: 0 10px;
}


.nav-link::after{
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

.nav-link:hover::after{
  width: 100%;
}



.collapse{
  display: flex;
  justify-content: space-between;
}

form { 
  display: flex;
}

.country-search{
  width: 400px;
  padding:2px 10px;
  border-radius: 5px;
  border: solid 1px #fff;
  outline:none;
  font-size: 20px;
}

.search-button{
  color: #fff;
  background: #125FCA;
  border: solid 1px #125FCA;
  border-radius: 5px;

}


.global{
  font-weight: bold;
  font-size: 70px;
  color:#0A3847 ;

}
.affected-countries{
  color: #f86600;
  font-weight: bold;
  font-size: 20px;
}

.population , .confirmed , .deaths, .vaccinated {
  border: 1px solid #f8f5f2;
  margin:30px 60px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 10px 0 hsl(0deg 0% 50% / 40%);
  border-top: solid #0A3847 5px;

}

.population p, .confirmed p, .deaths p, .vaccinated p {
  font-size: 20px;
  color: #125FCA;
  font-weight: bold;
  text-decoration: underline;
}


.header-and-icon{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.header-and-icon h2 {
  color: #0A3847;
}



.continent{
  width: 130px;
  height: 100px;
  border: 2 solid #f86600;
  border-radius: 50%;
}

.continent-info{
  border: 1px solid #f8f5f2;
  background: #fff;
  box-shadow: 2px 2px 10px 0 hsl(0deg 0% 50% / 40%);
  border-radius: 5px;
  border-top: solid #125FCA 5px;
  padding-bottom:20px ;
}

.continent-info h1 {
  color:#0A3847 ;
}

.continent-info p{
color: #125FCA;
font-weight: bold;
font-size: 22px;
}

.continent-info span{
  color: #f86600;
  font-size: 20px;
  }


.countries-table{
  border-collapse: collapse;
  min-width: 100%;
  border-radius: 5px 5px 0 0 ;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  font-size: 18px;
}

.table-header{
  background-color: #0A3847;
  color: #fff;
  text-align: left;
}

.countries-table th ,
.countries-table td {
padding: 12px 15px;
}

.countries-table tbody {
  overflow: auto;
}

.countries-table tbody tr {
  border-bottom: 1px solid #dddddd ;
}

.countries-table tbody tr:nth-of-type(even) {
background: #fff;
}

.countries-table tbody tr:last-of-type {
  border-bottom: 2px solid #0A3847;
  }

  .main-footer {
    height: 5rem;
    background: #0A3847;
    color: #fff;
    font-family: "Times New Roman", Times, serif;

  }
  i {
    color: #fff;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin-top: auto;
  }
  .social .fab {
    margin-right: 1rem;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
  }

  .loading {
    text-align: center;
  }


  .loading img {
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
  }

  .loading h1 {
    color: #0A3847;
  }